* {border-radius: 2px;

}
body {background-color: rgb(100,90,90);
	font-family: serif;
    display:block;  
    width: 95%;
    margin: auto;
}
textarea {display:block;
	width: 600px;
	height: 150px;
	resize: none;}
input {display:block;
	width: 600px;}

form {background-color: rgb(55,55,55);
	margin: 5px auto;
	border: 1px solid #333333;
	padding: 33px 33px 33px 33px;
	display: table;
}

input {margin: 5px;}
textarea {margin: 5px;}
button {margin: 5px;}

a {color: inherit;
}

.post {margin: 5px;
	min-width: 600px;
	border: 1px solid #333333;
	background-color: gray;
	overflow: hidden;
	display: table;
	clip: auto;
}
.first_post {margin: 5px;
	width: 90%;
	background-color: rgb(100,90,90);
	overflow: hidden;
	display: table;
	clip: auto;
}

.file {display: block;
	float: left;
	margin: 5px;
}

.open_thread {color: #cdc8b1;

}
.post_message {margin: 16px;
	display: block;
}

.post_over {overflow: hidden;
	width: 100%;}

#update {display: none;
	}
